@page "/login"
@inject NavigationManager Nav
@rendermode InteractiveServer

<FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center" Style="height: 80vh;">
    <FluentCard Width="400px">
        <FluentHeader>ĐĂNG NHẬP HỆ THỐNG</FluentHeader>
        <div style="margin: 20px 0;">
            <FluentTextField @bind-Value="loginEmail" Label="Email" Style="width: 100%;" />
            <FluentTextField @bind-Value="loginPassword" Label="Mật khẩu" TextFieldType="TextFieldType.Password" Style="width: 100%;" />
        </div>

        @if (showError)
        {
            <p style="color:var(--error);">Sai tài khoản hoặc mật khẩu!</p>
        }

        <FluentButton Appearance="Appearance.Accent" OnClick="SubmitLogin" Style="width: 100%;">Đăng nhập</FluentButton>
    </FluentCard>
</FluentStack>

@code {
    private string loginEmail = "";
    private string loginPassword = "";

    [SupplyParameterFromQuery]
    private string? error { get; set; }
    private bool showError => !string.IsNullOrEmpty(error);

    private void SubmitLogin()
    {
        // Chuyển hướng sang trang xử lý tĩnh để ghi được Cookie
        Nav.NavigateTo($"/account/loginaction?email={loginEmail}&password={loginPassword}", forceLoad: true);
    }
}